footer{
  background: #111;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
span{
  display:flex;
  justify-content: center;
}
.footer2{
  margin-right: 10px;
}
@media only screen and (max-width: 560px){
  span{
    flex-direction: column;
  }
}